body {
  font-family: georgia, sans-serif;
  background-color: rgba(215, 237, 36, 0.85);
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  color: rgb(98, 187, 231);
}

h1 {
  color: rgb(98, 187, 231);
}
