<h2>Add new animal</h2>

<form action="<%= animals_path %>" method="post">
<label>
  Name:
  <input type="text" name="name">
</label><br>
<label>
  Image:
  <input type="text" name="image">
</label><br>
<label>
  Location:
  <input type="text" name="location">
</label><br>
<label>
  Diet:
  <input type="text" name="diet">
</label><br>
<label>
  Mass (min):
  <input type="text" name="min_mass">
</label><br>
<label>
  Mass (min):
  <input type="text" name="max_mass">
</label><br>
<label>
  Lifespan:
  <input type="text" name="lifespan">
</label><br>
<label>
  Is this animal a marsupial:
  <input type="text" name="marsupial">
</label><br>


<input type="submit" name="Add animal">


</form>
