<h2>Rock, Paper, Scissors </h2>


<h4> Choose: </h4>
<a href="/games/rock_paper_scissors/rock"> Rock </a>
<a href="/games/rock_paper_scissors/paper"> Paper</a>
<a href="/games/rock_paper_scissors/scissors"> Scissors</a>
