
body {
  background-color: black;
}

#words {
  display: none;
}

.word{
  font-family: Georgia, serif;
  font-size: 60pt;
  color: white;
  display: none;
  position: absolute;
}

.dg{
  z-index: 100 !important;
}
