<h2>Add more places to your Travel List!!</h2>


<form action="/places" method="post">
  <label>
    Name: <input type="text" name="name">
  </label>

  <label>
    Country: <input type="text" name="country_id">
  </label>

  <label>
    Continent:
    <select name="continent_id">
      <option value="6">Africa</option>
      <option value="4">Antarctica</option>
      <option value="3">Asia</option>
      <option value="1">Europe</option>
      <option value="5">North America</option>
      <option value="7">Oceania</option>
      <option value="2">South America</option>
    </select>
  </label>

  <label>
    Visted or not:
    <select name="visited">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </label>

  <label>
    When to visit: <input type="text" name="visit_time">
  </label>

  <label>
    Image URL: <input type="text" name="image_url">
  </label>

  <label>
    Description: <input type="text" name="description">
  </label>

  <input type="submit" value="Add">

</form>
