<h2>8 Ball Game</h2>

<form  action="/eight/answer">


  <p>
    Enter your Question in the form below
  </p>
  <label>
    Question: <input type="text" name="answer">
  </label>
  <input type="submit" value="Reveal">

</form>
