<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Google Book Search</title>
    <link rel="stylesheet" href="/css/style.css"
  </head>
  <body>
    <h1>Google Book Search</h1>

    <%= yield %>

    <hr>

    &copy; Midnight Books Inc. 1791

  </body>
</html>
