<h2>All art works</h2>

<a href="/arts/new">Add new art work</a>
<ul class="imageList">
  <% @results.each do |art|  %>
  <li>
    <img src="<%= art['image_url'] %>" alt="">
    <a href="/arts/<%= art['id'] %>">
    <%= art['name'] %>
    </a>

  </li>
  <% end %>


</ul>
