<h2>Add new art work</h2>

<form action="/arts" method="post">

<label>
  Title of art work:
  <input type="text" name="name">
</label> <br>

<label>
  Artist id:
  <input type="text" name="artist_id">
</label> <br>

<label>
  Year:
  <input type="text" name="year">
</label> <br>

<label>
  Medium:
  <input type="text" name="medium">
</label> <br>

<label>
  Image URL:
  <input type="text" name="image_url">
</label> <br>

<input type="submit" value="Add new">

</form>
