<h2>Add new artist </h2>

<form action="/artists" method="post">

<label>
  Name of artist:
  <input type="text" name="name">
</label> <br>

<label>
  Birthdate:
  <input type="text" name="birthdate">
</label> <br>

<label>
  Living:
  <input type="text" name="alive">
</label> <br>

<label>
  Nationality:
  <input type="text" name="nationality">
</label> <br>

<label>
  Movement:
  <input type="text" name="movement">
</label> <br>

<input type="submit" value="Add new">

</form>
