<h2>Secret number</h2>

<p><strong>You guessed: </strong><%= params[:guess_number] %></p>

<p><strong>The secret number was: </strong><%= @random_num %></p>

<p><%= @message %></p>

<br>

<a href="/games/secret_number">Play again</a>
