<h2>Secret number</h2>


<form action="/games/secret_number/answer">
<label> Guess the secret number:
  <select name="guess_number">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
  </select>
</label>

<input type="submit" value="Submit guess">

</form>
