<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Surfboard SQL</title>
  </head>
  <body>

    <h1>Surfboard SQL SHOP - Cowbunga Dude</h1>

    <nav>
      <a href="/surfboards">Home Page</a>
      |
      <a href="/surfboards/new">Add Surfboard</a>
    </nav>

    <%= yield  %>


    <hr>
    <footer>
      &copy yeeewwwww productions
    </footer>

  </body>
</html>
