<form  action="/surfboards" method="post">

  <label>
    Name: <input type="text" name="name">
  </label><br>
  <label>
    Shaper: <input type="text" name="shaper">
  </label><br>
  <label>
    description: <input type="text" name="description">
  </label><br>
  <label>
    Price: <input type="text" name="price">
  </label><br>
  <label>
    In_stock: <input type="text" name="in_stock">
  </label><br>
  <label>
    Image URL: <input type="text" name="image_url">
  </label><br>

  <input type="submit" value="Create Surfboard">

</form>
