<h2>Search for a book</h2>
<h3>All Book titles</h3>
<p>All Titles
["Ulysses", "The Irish Ulysses", "The Adventures of Ulysses", "The Cambridge Companion to Ulysses", "Ulysses", "The Cambridge Companion to James Joyce", "The Ulysses Delusion", "Joyce's Modernist Allegory", "ULYSSES in Progress", "Critical Companion to James Joyce"] The Ulysses Delusion</p>

<form action="/library/results">

  <label>
    Query text:
    <input type="text" name="search_query">
  </label>

  <input type="submit" name="search">

</form>
