<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mountains SQL database</title>
  </head>
  <body>
    <h1>Great Mountains of the World</h2>
     <nav>

      <a href="/mountains">Index</a>

      </nav>
    <hr>
    <%= yield %>
    <hr>

  </body>
</html>
