<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bands & Albums Database</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <h1>Tunepedia</h1>

    <nav>
      <a href="/bands">Band Index</a>
      <br>
      <a href="/bands/new">Add New Band</a>
    </nav>

    <hr>
      <%= yield %>
    <hr>

    <footer>
      &copy The Worldwide Music Archive 2019
    </footer>

  </body>
</html>
