<h2>Add Band</h2>

<form action="/bands" method="post">

<label>

  Name : <input type="text" name="name">

</label>
<br>

<label>

  Genre: <input type="text" name="genre">

</label>
<br>

<label>

  Albums: <input type="text" name="albums">

</label>
<br>

<label>

  Active: <input type="text" name="active">

</label>
<br>

<label>

  Image: <input type="text" name="image_url">

</label>
<br>

<label>

  Add: <input type="submit" value="add">

</label>

<br>

</form>
