<h2>Add Band</h2>

<form action="/bands" method="post">

<label>

  Name : <input type="text" name="name">

</label>
<br>
<label>

  Nationality : <input type="text" name="nationality">

</label>
<br>

<label>

  Genre: <input type="text" name="genre">

</label>
<br>

<label>

  Record Sales: <input type="text" name="record_sales">

</label>
<br>

<label>

  Active: <input type="text" name="active">

</label>
<br>

<label>

  Image: <input type="text" name="image_url">

</label>
<br>

<label>

  Add: <input type="submit" value="add">

</label>

<br>

</form>
