body{
  font-family: Arial,sans-serif;
  background-color: rgb(46, 164, 208);
  color:white;

}

img{
  max-width: 500px;
}

a{
  text-decoration: none;
}

option{
  background-color: white;
  color:black;
}

label{
  display: block;
  padding: 10px 0;
}

/* #big_box{
  border: ridge 1.5px;
  background-color: white;
  color: black;
  display: inline-block;
  width: 300px;
  height: 100px;
  resize: both;
  overflow: auto;
} */
