<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Search</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <img src="http://fillmurray.com/200/200" alt="">
    <h1>Book Search</h1>

    <%= yield %>

    <hr>
    &copy; Book Bros 2019
  </body>
</html>
