<h2> Add More Places I Wish to Go</h2>

<form action="/places" method="post">

  <label>
    Place: <input type="text" name="place">
  </label>
  <br>
  <br>

  <label>
    Country: <input type="text" name="country">
  </label>
  <br>
  <br>

  <lable>
    Visted or not:
    <select name="visited">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </lable>
  <!-- <label>
    Visited or not: <input type="text" name="visited">
  </label> -->
  <br>
  <br>

  <label>
    When visited / to visit: <input type="text" name="visit_time">
  </label>
  <br>
  <br>

  <label>
    Image URL: <input type="text" name="image_url">
  </label>
  <br>
  <br>

  <input type="submit" value="Add a New Place">

</form>
