body{
  font-family: Arial, sans-serif;
  background: url("https://www.creitive.com/upload/images/1491381229.MeCUYD0z75BsPfeW.gif");
  color: white;
}

img{
  max-width: 500px
}

#layout_h1{
  margin: 0;
  padding: 10px 20px 10px 0;
  display: inline-block;
  color: red;
}

nav {
  display: inline-block;
}

.layout{
  margin: auto 15px;
}

a{
  text-decoration: none;
  color: white;
}


label{
  display: block;
  padding: 10px 0;
}

#place_name {
  margin: auto auto 10px;
}

.edit_delete{
  margin: auto 15px auto 0;
  font-size: 15px;
}

h2 {
  color: greenyellow;
}
