<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Businesses SQL Database</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Local Businesses</h1>
      <nav>
        <a href="/businesses">Index</a>
        |
        <a href="/businesses/new">Add Business</a>
      </nav>
    <hr>

    <%= yield %> <!-- specific template content goes here -->

    <hr>
    <footer>
      &copy; Sohl 1993
    </footer>

  </body>
</html>
