
<h2>Add New Business</h2>

<form action="/businesses" method="post">

<!-- POST vs GET despite 'animals' being the same -->

<label>
  Business Name: <input type="text" name="business_name">
</label><br>

<label>
  Has Website?: <input type="text" name="has_website">
</label><br>

<label>
  Suburb: <input type="text" name="suburb">
</label><br>

<label>
  Postcode: <input type="text" name="postcode">
</label><br>

<label>
  Street Address: <input type="text" name="street_address">
</label><br>

<label>
  Business Type: <input type="text" name="business_type">
</label><br>

<label>
  Owner: <input type="text" name="owner">
</label><br>

<label>
  Landline Number: <input type="text" name="landline_number">
</label><br>

<label>
  Mobile Number: <input type="text" name="mobile_number">
</label><br>

<label>
  Email: <input type="text" name="email">
</label><br>

<label>
  Storefront Image URL: <input type="text" name="storefront_image_url">
</label><br>

<label>
  Date Added: <input type="text" name="date_added">
</label><br>

<input type="submit" value="Add New Business">

</form>
