<h2> Pick up one game! Let's start!</h2>

<ul>
  <li><a href="/games/magic">Magic 8 Ball</a></li>
  <li><a href="/games/secret_number">Secret Number</a></li>
  <li><a href="/games/rock_paper_scissors">Rock Paper Scissors</a></li>
</ul>
