<h2>Let's play Magic 8 Ball</h2>

<p>Ask the Magic 8 Ball what you want to know </p>

<form action="/games/magic/play">
  <label>
    <input type="text" name="question">
  </label>
  <input type="submit" value="Ask">
</form>
