<h2>Rock Paper Scissors</h2>

<h3>Click any of the below! Let's play it!</h3>

<ul>
  <li>
    <a href="/games/rock_paper_scissors/rock">
    <img src="/assets/rock.png" alt="rock">
    </a>
  </li>
  <li>
    <a href="/games/rock_paper_scissors/paper">
      <img src="/assets/paper.png" alt="paper">
    </a>
  </li>
  <li>
    <a href="/games/rock_paper_scissors/scissors">
    <img src="/assets/scissors.png" alt="scissors">
    </a>
  </li>



</ul>
