<h2>Secret Number</h2>

<p>click any number from the below! Let's see if you've got it right!</p>


<ul>
  <% @numbers.each do |number| %>
  <li>
    <a href="/games/secret_number/<%= number %>"> <%= number %></a>
  </li>
  <% end %>
</ul>
