<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hikes Around the World</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Best Hikes Around the World</h1>

  <nav>

  <a href="/hikes">Index</a>
  |
  <a href="/hikes/new">Add hike</a>

  </nav>

  <hr>
    <%= yield %>
  <hr>

  <footer>
    &copy; 2019
  </footer>
</body>
</html>
