<h2>Add new hike</h2>

<form action="/hikes" method="post">

<label>
  Trail: <input type="text" name="trail">
</label> <br>

<label>
  Country: <input type="text" name="country">
</label> <br>

<label>
  Description: <input type="text" name="description">
</label> <br>

<label>
  Difficulty: <input type="text" name="difficulty">
</label> <br>

<label>
  Duration: <input type="text" name="duration">
</label> <br>

<label>
  Distance: <input type="text" name="distance">
</label> <br>

<label>
  Overnight trip: <input type="text" name="overnight">
</label> <br>

<label>
  Image URL: <input type="text" name="image_url">
</label> <br>

<input type="submit" value="Add hike">

</form>
