<h2>Magic 8 Ball</h2>

<p><strong> Your question: </strong> <%= params[:question] %> </p>

<p><strong> Magic 8 Ball answer: </strong> <%= @answer %> </p>

<a href="/games/magic">Ask another question</a>
