<h2>Magic 8 ball </h2>

<form action="/games/magic/answer">


<label>
  Ask <a href="#"></a> yes-or-no question:
  <input type="text" name="question">
</label>

<input type="submit" value="Submit question">

</form>

<img src="https://boygeniusreport.files.wordpress.com/2015/02/050114magic8ballng.jpg?quality=98&strip=all&w=782" alt="">
