@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body{
  font-family: 'Arial', sans-serif;
  margin:0px;
  background-color: rgb(49, 54, 65);
  color: beige;
  line-height: 20px;
  letter-spacing: 0.1px;
}


header{
  background-color: rgb(250, 170, 17);
  position: fixed;
  top:0;
  width: 100%;
  padding:10px;
}

h1{
  /* margin-top: 15px; */
  color: rgb(43, 44, 46);
  display: inline-block;
  padding-left: 15px;

  /* text-align: center; */
}

nav.header_nav{
  float:right;
  margin-top:20px;
}

/* .clearfix::after{
  content:"";
  visibility: hidden;
  font-size: 0;
  height: 0;
  display: block;
  clear: both;
} */

a{
  text-decoration: none;
}

a.navlink{
  color: rgb(89, 21, 131);
  float: left;
  display: inline-block;

  /* width: 33%; */
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}

a.navlink:hover{
  text-decoration: underline;
  /* background-color: rgb(43, 44, 46); */
  color:white;
}

main{
  margin-top: 80px;
  /* padding: 15px; */
}

.intro p{
  padding: 20px 15px;

}

img{
  float: left;
  padding: 15px;
}

#name{
  font-size: 24px;

}

.containerx3{
  clear: both;

}

h3{
  color:rgb(250, 170, 17);
  font-style: italic;
  padding: 0 15px;
  margin: 0;
}

.article{
  padding: 10px 0;
}

.article p{
  padding: 0 15px;
  margin: 10px 0;
}

.article a{
  color:rgb(250, 170, 17);
}

footer{
  background: rgb(250, 170, 17);
  postion:fixed;
  bottom:0;
}

#footer{
  width:20%;
  display: inline-block;
  padding-left: 15px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  /* font-style: italic; */
}

a.footerlink {
  color: white;
  display: inline-block;
  width: 20%;
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
}



a.footerlink:hover{
  text-decoration: underline;
  color:rgb(89, 21, 131);
}


#astronaut {
  display:block;
  transform:rotate(360deg);
}

#rocket{

}
